@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #030712;
  color: #f8fafc;
}

.bg-grid {
  background-size: 40px 40px;
  mask-image: linear-gradient(to bottom, transparent, 10%, black, 90%, transparent);
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
}
